.order-history{
    padding: 4rem 4rem;
    background-color: lightgray;
}

h2 {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    margin: 2.5rem 0;
}

button{
    background-color: #4caf50;
    color:white
}