<footer class="footer">
    <ul class="social-icon">
      <li class="social-icon__item"><a class="social-icon__link" routerLink="/">
        <i class="fab fa-facebook-f" aria-hidden="true"></i>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" routerLink="/">
        <i class="fab fa-twitter-square" aria-hidden="true"></i>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" routerLink="/">
        <i class="fab fa-instagram" aria-hidden="true"></i>
        </a></li>
    </ul>
    <p>&copy;2024 Galsen Savor | All Rights Reserved</p>
</footer>
