.manage-menu {
    padding: 20px;
}
mat-card{
    border-radius: 0%;
}


.form-container {
    display: flex;
}

.add-menu-btn {
    padding: 10px;
    max-width: 200px; 
    margin-left: 4rem;

  }


